@model List<FilmT>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>电影厅管理</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <style>
        #tb1 {
            width: 100%;
            height: 540px;
            table-layout: fixed;
        }
        #tb1 tr, td, th {
            border: 1px solid gray;
            text-align: center;
        }
        #tb1 tr, td {
            height: 40px;
        }
        #tb1 th {
            width: 60px;
        }
        #div_input div {
            width: 200px;
            float: left;
            margin-left: 25px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <form method="post" asp-action="AddFilmT">
        <div style="width:100%;height:100px;">
            <div id="div_input">
                <div> 电影厅编号： <input name="Tid" /></div>
                <div>电影厅名称： <input name="TName" /></div>
                <div>座位数量：   <input name="Number" /></div>
                <div>是否开厅：   <input name="State" /></div>
            </div>
            <div style="margin-top: 26px;float: left;">
                <button type="submit">添加电影厅</button>
            </div>
        </div>
    </form>
    <div style="width:100%;height:540px;overflow:scroll">
        <table id="tb1" class="table-sm">
            <thead>
                <tr>
                    <th>电影厅编号</th>
                    <th>电影厅名称</th>
                    <th>座位数量</th>
                    <th>是否开厅</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var film in Model)
                {
                    <tr>
                        <td> @film.Tid </td>
                        <td> @film.TName </td>
                        <td> @film.Number </td>
                        <td> @film.State </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>
